.App {
  text-align: center;
}

.forecast {
  display: flex;
  justify-content: space-around;
  color: white;
}

.forecast h1 {
  color: black;
}

.highLow {
  display: flex;
  justify-content: center;
}

